/* gives appearance that all sides are stacked based on what is closest */

.stacking-cube-container {
  perspective: 800px;
  display: flex;
  justify-content: center;
  margin: 3em;
}

.stacking-cube {
  /* background-color: darkblue; */
  transition: transform 2s ease-in-out;
  transform-style: preserve-3d;
  /* position: relative; */
  height: 200px;
  width: 200px;
}

.stacking-cube:hover {
  transform: rotateY(-270deg);
}

/* for front, back, left, right */
.stacking-cube-side {
  border: solid black 1px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.stacking-front {
  background-color: aquamarine;
  /* gives front perception of being closest than back 
      if we were to give the other sides negative or smaller px, they will stack in that order*/
  transform: translateZ(100px);
}

.stacking-back {
  background-color: lightgreen;
  transform: translateZ(-100px);
  transform-origin: center left;
}

.stacking-left {
  background-color: peachpuff;
  transform: translateZ(-300px);
  transform-origin: top right;
}

.stacking-right {
  background-color: yellowgreen;
  transform: translateZ(-500px);
  /* transform: rotateY(-90deg); */
}
